#include "Resources.h"

IDBITMAP_CIRCUIT BITMAP electric_circuit.bmp
IDBITMAP_SCENE_01 BITMAP scenario1.bmp
IDBITMAP_SCENE_02 BITMAP scenario2.bmp
IDBITMAP_SCENE_03 BITMAP scenario3.bmp
IDBITMAP_SCENE_04 BITMAP scenario4.bmp
IDBITMAP_SCENE_05 BITMAP scenario5.bmp
IDBITMAP_SCENE_HEADER BITMAP scenarios_header.bmp
IDBITMAP_BUFFER_CACHE BITMAP thebuffercache.bmp
IDBITMAP_BUFFER_HEADER BITMAP thebufferheader.bmp
IDBITMAP_INDICES BITMAP indices.bmp

IDBITMAP_3_FREE BITMAP 3_Free.bmp
IDBITMAP_4_FREE BITMAP 4_Free.bmp
IDBITMAP_5_FREE BITMAP 5_Free.bmp
IDBITMAP_10_FREE BITMAP 10_Free.bmp
IDBITMAP_17_FREE BITMAP 17_Free.bmp
IDBITMAP_18_FREE BITMAP 18_Free.bmp
IDBITMAP_28_FREE BITMAP 28_Free.bmp
IDBITMAP_35_FREE BITMAP 35_Free.bmp
IDBITMAP_50_FREE BITMAP 50_Free.bmp
IDBITMAP_64_FREE BITMAP 64_Free.bmp
IDBITMAP_97_FREE BITMAP 97_Free.bmp
IDBITMAP_98_FREE BITMAP 98_Free.bmp
IDBITMAP_99_FREE BITMAP 99_Free.bmp

IDBITMAP_3_LOCKED BITMAP 3_locked.bmp
IDBITMAP_4_LOCKED BITMAP 4_Locked.bmp
IDBITMAP_5_LOCKED BITMAP 5_Locked.bmp
IDBITMAP_10_LOCKED BITMAP 10_Locked.bmp
IDBITMAP_17_LOCKED BITMAP 17_Locked.bmp
IDBITMAP_18_LOCKED BITMAP 18_Locked.bmp
IDBITMAP_28_LOCKED BITMAP 28_Locked.bmp
IDBITMAP_35_LOCKED BITMAP 35_Locked.bmp
IDBITMAP_50_LOCKED BITMAP 50_Locked.bmp
IDBITMAP_64_LOCKED BITMAP 64_Locked.bmp
IDBITMAP_97_LOCKED BITMAP 97_Locked.bmp
IDBITMAP_98_LOCKED BITMAP 98_Locked.bmp
IDBITMAP_99_LOCKED BITMAP 99_Locked.bmp

IDBITMAP_3_DELAYED BITMAP 3_Delayed.bmp
IDBITMAP_4_DELAYED BITMAP 4_Delayed.bmp
IDBITMAP_5_DELAYED BITMAP 5_Delayed.bmp
IDBITMAP_10_DELAYED BITMAP 10_Delayed.bmp
IDBITMAP_17_DELAYED BITMAP 17_Delayed.bmp
IDBITMAP_18_DELAYED BITMAP 18_Delayed.bmp
IDBITMAP_28_DELAYED BITMAP 28_Delayed.bmp
IDBITMAP_35_DELAYED BITMAP 35_Delayed.bmp
IDBITMAP_50_DELAYED BITMAP 50_Delayed.bmp
IDBITMAP_64_DELAYED BITMAP 64_Delayed.bmp
IDBITMAP_97_DELAYED BITMAP 97_Delayed.bmp
IDBITMAP_98_DELAYED BITMAP 98_Delayed.bmp
IDBITMAP_99_DELAYED BITMAP 99_Delayed.bmp

IDBITMAP_BLOCKNO_0 BITMAP blkno0.bmp
IDBITMAP_BLOCKNO_1 BITMAP blkno1.bmp
IDBITMAP_BLOCKNO_2 BITMAP blkno2.bmp
IDBITMAP_BLOCKNO_3 BITMAP blkno3.bmp
IDBITMAP_FREE_LIST_HEADER BITMAP freelistheader.bmp
